:root {
    background-color: #ff801f;
    border-color: #3c36e7;
}
header {
    margin: 5px auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 80px;
    align-items: center;
    background-color: #3c36e7;
}
header img {
    grid-row-start: 1;
    grid-row-end: 3;
}
h1 {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
    color: #ffffff;
    background-color: #3c36e7;
    text-align: center;
}
.navigation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
.navigation-header li {
    display:block;
    padding: 10px
}
a{
    text-decoration: none;
    color:#ffffff
}
body{
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ff801f;
}
h2 {
    font-weight: 300;
    color: #ff801f;
    background-color: #3c36e7;
    text-align: center;
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.history-heading {
    grid-column-start: 1;
    grid-column-end: 4;
}
.adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.adventure-heading {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
}
.adventure-image {
    width: 350px;
    height: auto;
}
.hero-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.hero-heading {
    grid-column-start: 1;
    grid-column-end:3
}
.hero img {
    width: 400px;
    height: auto;
}
.socialmedia {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.socialmedia img {
    display: block;
    margin: 10px;
    width: 150px;
    height: auto;
}
footer {
    background-color: #3c36e7;
    color:#ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
